<!-- login modal -->
<ion-nav-view name="auth-tab"></ion-nav-view>
<ion-view view-title="Auth">

  <ion-header-bar class="bar bar-header bar-energized">
    <h1 class="title">Login or Register</h1>
  </ion-header-bar>

  <ion-content class="padding has-header">
    <h1 id="logo" class="ion-settings center"></h1>
    <h1 class="center">tool-trader</h1>
    <button class="button button-block button-energized center" ui-sref="login">
      login
    </button>
    <button class="button button-block button-dark center" ui-sref="register">
      register
    </button>
  </ion-content>

</ion-view>
