<ion-view title="Calendar">
  <ion-header-bar class="bar bar-header bar-energized">
    <h1 class="title">Reservations</h1>
  </ion-header-bar>
  <ion-content class="has-header">
    <calendar calendar-mode="mode" event-source="eventSource">
    <div class="card">
      <div class="item item-divider">
        <p>Beer O' clock</p>
      </div>
      <div class="item item-text-wrap">
        <p>Sit back, relax, and drink a beer!</p>
        <strong>When: date</strong>
      </div>
    </div>
  </ion-content>
</ion-view>
