<ion-view view-title="Messages">
  <ion-header-bar class="bar bar-header bar-energized">
    <h1 class="title">Messages</h1>
    <button class="button button-clear button-primary ion-ios-compose navbar-icons-large" ng-click="compose()"></button>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="list">

      <div class="item item-avatar" ui-sref="messages">
        <!-- <img src="venkman.jpg"> -->
        <div class="message-inline">
          <h2>Venkman</h2>
          <h4>timestamp</h4>
        </div>
        <h3>subject</h3>
        <p>Back off, man. I'm a scientist.</p>
      </div>

    </div>
  </ion-content>
</ion-view>
