<div>
  <ion-view view-title="Home">
    <div class="bar bar-energized bar-header item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Search">
      </label>
    </div>

    <ion-content class="padding">
      <h1>Bologna</h1>
      <h1>Tool shed</h1>
      <p>
        <a class="button icon icon-right ion-chevron-right" href="#/tab/toolRental">Tool Rental</a>
      </p>
      <h1>Tool Shed</h1>
    </ion-content>
  </ion-view>
</div>
