<!-- Tool Shed & Rental History -->
<ion-view view-title="Home">
  <ion-header-bar class="bar bar-header bar-energized">
    <h1 class="title">Home</h1>
    <button class="button button-clear ion-ios-search-strong" ui-sref="search"></button>
  </ion-header-bar>
  <ion-content class="padding has-header">
    <h2>Tool Shed</h2>
    <div class="gallery">
      <button class="col-25 button button-energized squareAdd" ng-click="showAddToolModal()">
        <h1>+</h1>
      </button>
      <img class="col-25 toolPics" ng-repeat="(key, value) in currentUsersTools" ng-src="{{ value.toolImage }}">
    </div>
    <h2>Rental History</h2>
  </ion-content>
</ion-view>
