<!-- Tool Shed & Rental History -->
<ion-view view-title="Home">
  <ion-header-bar class="bar bar-header bar-energized">
    <h1 class="title">Home</h1>
    <button class="button button-clear ion-ios-search-strong navbar-icons-large" ui-sref="search"></button>
  </ion-header-bar>
  <ion-content class="padding has-header">
    <h2>Tool Shed</h2>
    <div class="gallery">
      <div class="col-25 padding-5">
        <button class="button button-energized squareAdd" ng-click="showAddToolModal()">
          <h1>+</h1>
        </button>
      </div>
      <div class="col-25 padding-5" ng-repeat="(key, value) in currentUsersTools">
        <img class="toolPics" ng-click="editThisTool(value.toolKey)" ng-src="{{ value.toolImage }}">
      </div>
    </div>
    <h2>Rentals</h2>
    <div class="gallery">
      <div class="col-25 padding-5" ng-repeat="(key, value) in userRentals track by $index">
        <img class="toolPics" ng-src="{{ value.toolImage }}">
      </div>
    </div>
  </ion-content>
</ion-view>
