<!-- Modal to add a new tool -->
<ion-modal-view>
  <ion-header-bar class="bar bar-header bar-energized">
    <h1 class="title">Login</h1>
    <button class="button button-clear button-primary" ng-click="hideLoginModal()">Cancel</button>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Email</span>
        <input type="email" ng-model="user.email">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password" ng-model="user.password">
      </label>
      <!-- <div>{{data | json}}</div> -->
      <button class="button button-full button-balanced" ng-click="login()">login</button>
    </div>
  </ion-content>
</ion-modal-view>
