<ion-view view-title="Messages">
  <ion-header-bar class="bar bar-header bar-energized">
    <button class="button ion-ios-arrow-back button-clear button-primary" ui-sref="tabs.groups"></button>
    <h1 class="title">Group Title</h1>
  </ion-header-bar>

  <ion-content class="padding">

    <div class="card" ng-repeat="message in messages">
      <div class="item item-text-wrap" ng-class="{ green: currentUser == message.author }">
        {{message.message}}
      </div>
    </div>

  </ion-content>

  <ion-footer-bar keyboard-attach class="bar-stable item-input-inset bar-energized">
    <label class="item-input-wrapper">
      <input type="text" placeholder="Message..." on-return="sendMessage(); closeKeyboard()" ng-model="message" on-focus="inputUp(); scroll()" on-blur="inputDown()" />
    </label>
    <button class="button button-clear" ng-click="addMessage(message)">
      Send
    </button>
  </ion-footer-bar>
</ion-view>
