<ion-view title="Profile">
  <ion-header-bar class="bar bar-header bar-energized">
    <h1 class="title">Profile</h1>
    <button class="button button-clear button-primary" ng-click="logout()">logout</button>
  </ion-header-bar>
  <ion-content class="padding">
    <img ng-src="{{ userProfile.profilePic }}">
    <h3>{{userProfile.firstName}}</h3>
    <h3>{{userProfile.lastName}}</h3>
    <h3>{{userProfile.email}}</h3>
    <h2>{{ date }}</h2>
    <h2>bio</h2>
    <h5>{{userProfile.bio}}</h5>
  </ion-content>
</ion-view>
