<!--
  <div class="bar bar-energized bar-header item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="search" placeholder="Search">
    </label>
    <button class="button button-clear">
      Cancel
    </button>
  </div>
 -->

<ion-tabs class="tabs-striped tabs-icon-top tabs-energized">

  <ion-tab title="Home" icon="ion-ios-home" href="#/tab/home">
    <ion-nav-view name="home-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Messages" icon="ion-ios-email" href="#/tab/messages">
    <ion-nav-view name="messages-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Profile" icon="ion-ios-person" ui-sref="tabs.profile">
    <ion-nav-view name="profile-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Calendar" icon="ion-ios-calendar" ui-sref="tabs.calendar">
    <ion-nav-view name="calendar-tab"></ion-nav-view>
  </ion-tab>

</ion-tabs>
