<!-- Search bar for tools to rent -->
<ion-view title="Search">

  <ion-header-bar class="bar bar-energized bar-header item-input-inset">
    <h1 class="title">Search Form</h1>
    <button class="button button-clear button-primary" ui-sref="tabs.home" ng-click="clearSearch()">Cancel</button>
  </ion-header-bar>

  <ion-content class="padding">
    <form name="searchForm" ng-submit="searchForm.$valid && searchForTool()" novalidate>
      <ion-list class="no-lines">
        <!-- x:tool, x:condition, x:price, pickup, dropoff -->

        <label class="item item-input">
          <span class="input-label">Tool</span>
          <input ng-model="search.tool" type="text" class="form-right-align" required>
        </label>

        <!-- <label class="item item-input item-select">
          <div class="input-label">
            Condition
          </div>
          <select ng-model="search.condition">
            <option>Excellent</option>
            <option>Good</option>
            <option>Fair</option>
            <option>Poor</option>
          </select>
        </label> -->

        <label class="item item-input">
          <span class="input-label">Max $/Day</span>
          <input ng-model="search.maxPrice" type="number" class="form-right-align">
        </label>

        <label class="item item-input">
          <span class="input-label">Pickup</span>
          <input type="date" ng-model="search.pickup" name="pickup" class="form-right-align" required>
        </label>

        <label class="item item-input">
          <span class="input-label">Return</span>
          <input type="date" ng-model="search.dropoff" name="dropoff" class="form-right-align" required>
        </label>

      </ion-list>
      <button class="button icon-left ion-ios-search-strong button-full button-energized" type="submit">Find Me a Tool</button>
    </form>
  </ion-content>
</ion-view>
