/* Empty. Add your own CSS if you like */

.toolProfile {
  margin-top: 4em;
}


/*Buttons*/

.squareAdd {
  height: 4em;
  margin: 1%;
}


/*Rows*/

.gallery {
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.gallery > .col {
  width: 22%;
  flex-wrap: wrap;
}
